.page {
  font-family: Arial, Helvetica, sans-serif;
}

/* App Container */
.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.app__title {
  font-size: 54px;
  font-weight: normal;
}

/* Task List Container */
.taskListContainer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
}

/* Task Item */
.task-item label {
  position: relative;
  display: inline-block;
  margin: 2px 0;
  font-size: 15px;
  width: auto;
  cursor: pointer;
  vertical-align: middle;
}

.task-item input[type="checkbox"] {
  display: none;
}

.task-item label::before {
  margin: 0 6px 0 0;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  vertical-align: middle;
}

.task-item input[type="checkbox"]:checked + label::before {
  background-image: url("../public/checkmark.svg");
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Input Task */
.input-task {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  color: #333;
}

.input-task::placeholder {
  color: #999;
}

/* Task List */
.task-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.task-item {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
}

/* Form Container */
.formContainer {
  width: 100%;
}

/* Button Container */
.controlPanel {
  margin: 3px 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 7px;
}

.controlPanel__counter {
  margin: 0;
  padding: 0;
}

/* Button Container Inner */
.buttonContainer {
  display: flex;
}

/* Button */
.buttonContainer__button {
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* Active Button */
.active {
  border: 1px solid black;
}
